{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
  <main class="main-page">
    <div>
        {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
        {{ end }}

        <h1 class="main-page-title">
            {{ .Site.Title }}
        </h1>
        <div>
            <center><img src="https://amwma.netlify.app/img/amwma_border.png" alt="logo should be here" width="400" height="400"></center>
        </div>
        
        <center>
            <button type="button" onclick="window.location.href='/contact';">
                Contact Us!
            </button>
        </center>

        {{- with .Site.Params.social }}
        <div>
            {{ partial "social-icons.html" . }}
        </div>
        {{- end }}

        <div class="main-page-content">
            <p>{{ .Site.Params.homeSubtitle_1 }}</p>
            <p>{{ .Site.Params.homeSubtitle_2 }}</p>
            <p>{{ .Site.Params.homeSubtitle_3 }}</p>
        </div>
    </div>
  </main>
{{ end }}